@import header.sass

section
    background-color: #a3ddcb
    color: #a3ddcb
    position: relative
    width: 100%
.main
    width: 12rem
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.3rem
    padding-top: 8rem
    padding-bottom: 4rem
    padding-left: 2.5rem
    box-sizing: border-box
    color: #161616
    font-weight: 600
    padding-right: 3.5rem
.back1
    color: #a3ddcb

.back2
    color: #333

.toggle
    font-size: 0.8rem
    width: 1.4rem
    height: 1.4rem
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

.rocom
    background-color: #93329e

.alter
    background-color: #0fb467

.whenever
    background-color: #3434
    border: 1px white solid

.nonrocom
    border: 1px white solid
    background-color: #3434
