@import header.sass

section
    display: inline-flex
    background-color: #a3ddcb
    color: #a3ddcb
    position: relative
    width: 100%
    .Container
        color: #333
        padding: 1rem

.list
    position: relative
    color: #333
    background-color: #fed049
    width: 12rem
    text-align: center
    border: 0.2rem solid #424242
    border-radius: 5px
    padding: 0.5rem 0.4rem
    margin: 0.6rem 0
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    line-height: 1.4rem
    .position
        position: absolute
        top: -0.6rem
        left: -0.6rem
        color: wheat

.main
    width: 12rem
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.3rem
    padding-top: 8rem
    padding-bottom: 4rem
    padding-left: 2.5rem
    box-sizing: border-box
    color: #161616
    font-weight: 600
    padding-right: 4rem
    line-height: 1.4rem
    text-align: center
.back1
    color: #a3ddcb

.back2
    color: #333

.toggle
    font-size: 0.8rem
    width: 1.4rem
    height: 1.4rem
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

.recomend
    background-color: #93329e

.alter
    background-color: #0fb467

.whenever
    background-color: #333
    border: 1px white solid

.nonrocom
    border: 1px white solid
    background-color: #3434
